.hero{
    min-height: calc(100vh - 100px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-foreground {
    position: relative;
    padding: 60px 0 40px 0;
    background-color: var(--global-secondary-background);
}

.hero-background {
    background-color:var(--global-primary-background) ;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.button-hero{
    font-size: 20px;
}


.hero .btn-scrolldown{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    padding: 0;
}


@media screen and (max-width: 768px) {
    .hero-foreground {
        position: relative;
        padding: 40px 0 20px 0;
        background-color: var(--global-secondary-background);
    }

}