.grid-statistic {
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
}

.grid-statistic .grid-item {
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% / 4);
}

.card-statistic {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--global-link-hover-color);
    padding: 25px 10px 30px;
}

.card-statistic .card-number{
    font-size: 40px;
    font-weight: bold;
}


.card-value{
    text-transform: uppercase;
    color: var(--global-link-hover-color);

}