:root {
    --global-font-family: 'Oswald', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --global-font-size: 16px;
    --global-line-height: 1.42;

    --global-color: #707070;


    --global-inverse-color: #fff;
    --global-primary-color: #131a1d;

    --global-link-color: #fff;
    --global-link-hover-color: #ffe600;

    --global-inverse-link-color: #515151;

    --global-background: #fff;
    --global-inverse-background: #131a1d;

    --global-muted-background:   #fbfbfb;

    --global-primary-background: #11343a;
    --global-secondary-background: #122a2f;

    --global-success-background: #32d296;
    --global-warning-background: #faa05a;
    --global-danger-background: #f0506e;

    --global-border-width: 1px;
    --global-border: #fff;

    --global-margin: 20px;

    --global-gutter: 30px;

    --global-control-height: 57px;
}

:root {
    --base-body-background: var(--global-background);
    --base-body-font-family: var(--global-font-family);
    --base-body-font-weight: 300;
    --base-body-font-size: var(--global-font-size);
    --base-body-line-height: var(--global-line-height);
    --base-body-color: var(--global-color);

    --base-link-color: var(--global-link-color);
    --base-link-text-decoration: none;
    --base-link-hover-color: var(--global-link-hover-color);
    --base-link-hover-text-decoration: underline;

    --base-strong-font-weight: bolder;
    --base-code-font-size: var(--global-font-size);
    --base-code-font-family: Consolas, monaco, monospace;

    --base-ins-color: var(--global-color);
    --base-mark-background: #ffd;
    --base-mark-color: var(--global-color);
    --base-quote-font-style: italic;

    --base-margin-vertical: var(--global-margin);

    --base-heading-font-family: var(--global-font-family);
    --base-heading-font-weight: bold;
    --base-heading6-font-weight: normal;


    --base-heading-color: #000;

    --base-heading-inverse-color: #fff;
    --base-heading-primary-color: #ffe600;
    --base-heading-secondary-color: #515151;

    --base-heading-text-transform: uppercase;
    --base-heading-margin-top: var(--global-margin);

    --base-h1-font-size: 65px;
    --base-h1-line-height: 1.2;

    --base-h2-font-size: 45px;
    --base-h2-line-height: 1.3;

    --base-h3-font-size: 30px;
    --base-h3-line-height: 1.4;

    --base-h4-font-size: 25px;
    --base-h4-line-height: 1.4;

    --base-h5-font-size: 20px;
    --base-h5-line-height: 1.4;

    --base-h6-font-size: 16px;
    --base-h6-line-height: 1.4;

    --base-list-padding-left: 30px;

    --base-hr-margin-vertical: var(--global-margin);
    --base-hr-border: var(--global-border-width) solid var(--global-border);

    --base-blockquote-color: #333;
    --base-blockquote-font-size: var(--global-font-size);
    --base-blockquote-line-height: 1.5;
    --base-blockquote-font-style: italic;
    --base-blockquote-margin-vertical: var(--global-margin);
    --base-blockquote-footer-color: #333;
    --base-blockquote-footer-margin-top: var(--global-margin);
    --base-blockquote-footer-font-size: var(--global-font-size);
    --base-blockquote-footer-line-height: 1.5;

    --base-pre-font-size: var(--global-font-size);
    --base-pre-line-height: 1.5;
    --base-pre-font-family: var(--base-code-font-family);
    --base-pre-color: var(--global-color);

    --base-selection-background: #fff;
    --base-selection-color: var(--global-inverse-color);
}

:root {

    --button-color: #131316;
    --button-background: #ffe600;

    --button-inverse-color: #ffe600;
    --button-inverse-background: #131316;

    --button-primary-color: #fff;
    --button-primary-background: #ffe600;

    --button-color-hover: #fff;
    --button-background-hover: #ffe600;

    --button-inverse-color-hover: #131316;
    --button-inverse-background-hover: #ffe600;

    --button-primary-color-hover: #fff;
    --button-primary-background-hover: #131316;

    --button-font-family: inherit;
    --button-font-size: 20px;
    --button-font-weight: bold;

    --button-font-size-inverse: 15px;

    --button-padding: 16px 40px;
    --button-height: var(--global-control-height);

    /*--button-color-focus: #222;*/
    /*--button-background-focus: #23b7a4;*/

    /*--button-color-active: #222;*/
    /*--button-background-active: #ececec;*/
}

:root {
    --form-height: var(--global-control-height);
    --form-line-height: 1.4;
    --form-padding: 6px 14px;

    --form-background: transparent;
    --form-color: #fff;

    --form-focus-background: #fff;
    --form-focus-color: var(--global-color);

    --form-disabled-background: var(--global-color);
    --form-disabled-color: var(--global-muted-color);

    --form-placeholder-color: var(--global-muted-color);

    --form-invalid-color: var(--global-danger-background);
    --form-valid-color: var(--global-success-background);

    --form-select-padding-right: 20px;
    --form-select-option-color: #444;

    --form-radio-size: 16px;
    --form-radio-margin-top: -4px;
    --form-radio-background: #fbfbfb;

    --form-radio-checked-background: #fbfbfb;

    --form-radio-checked-focus-background: #fbfbfb;

    --form-radio-disabled-background: #fbfbfb;

    --form-legend-font-size: var(--global-font-size);
    --form-legend-line-height: 1.4;

    --form-control-margin-bottom: var(--global-margin);

    --form-icon-width: var(--form-height);
    --form-icon-font-size: var(--global-font-size);
    --form-icon-color: var(--global-muted-color);
    --form-icon-hover-color: var(--global-color);

}

button,
input[type="button"],
input[type="submit"],
.button {
    margin: 10px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    user-select: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    text-transform: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--button-padding);
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    min-height: var(--button-height);
    text-decoration: none;
    background: var(--button-background);
    color: var(--button-color);
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
    background: var(--button-background-hover);
    color: var(--button-color-hover);
}

.button:focus {
    outline: none;
    background: var(--button-background-hover);
    color: var(--button-color-hover);
}

.button:active,
.button.is-active {
    background: var(--button-background-active);
    color: var(--button-color-active);
}

.button-inverse {
    background: var(--button-inverse-background);
    color: var(--button-inverse-color);
    font-weight: normal;
}

.button-inverse:hover {
    text-decoration: none;
    background: var(--button-inverse-background-hover);
    color: var(--button-inverse-color-hover);
}

.button-primary {
    background: var(--button-primary-background);
    color: var(--button-primary-color);
    font-weight: normal;
}

.button-primary:hover {
    background: var(--button-primary-background-hover);
    color: var(--button-primary-color-hover);
}

.inverse-section {
    color: #fff;
    background-color: var(--global-inverse-background);
}

.separator {
    border-bottom: 2px solid #ffe600;
    width: 170px;
    margin-right: auto;
    margin-left: auto;
}

.heading-inverse {
    color: var(--base-heading-inverse-color);
}

.heading-primary {
    color: var(--base-heading-primary-color);
}

.heading-secondary {
    color: var(--base-heading-secondary-color);
    text-transform: capitalize;
}

.heading-inverse-border::after {
    content: "";
    width: 170px;
    display: block;
    height: 2px;
    left: 0;
    margin: 18px auto 20px;
    background-color: var(--global-link-hover-color);
}
h6{
    font-weight: var(--base-heading6-font-weight);
}

.sup-heading{
    text-transform: uppercase;
    counter-reset: var(--global-inverse-link-color);
}
.container-text {
    max-width: 960px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.section {
    background-color: var(--global-background);
}

.section-inverse {
    background-color: var(--global-inverse-background);
    color: var(--global-inverse-color);
}

section {
    padding: 60px 0;
}

.inverse-link {
    color: var(--global-inverse-link-color);
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.btn-scrolldown {
    padding: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    font-size: 28px;
}

@media screen and (max-width: 768px) {
    h1, .h1 {
        font-size: 40px;
    }

    h4, .h4 {
        font-size: 23px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 20px 0;
    }

    button,
    input[type="button"],
    input[type="submit"],
    .button {
        padding: 1px 20px;
        font-size: 16px;
        min-height: 40px;
    }

    .btn-scrolldown {
        width: 40px;
        height: 40px;
        font-size: 20px;

    }
}

.layout,
.grid {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 640px) {

    h1, .h1 {
        font-size: 25px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 10px 0;
    }
}